In [7]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [19]:
data = pd.read_csv('C:\\Users\\vaibh\\Downloads\\EDA - Movies_Data\\movies_data.csv')

**ABOUT NOTEBOOK**
* This Notebook is for EDA practice on given movies Dataset(movies_data.csv)

**QUESTIONS**
 * Task.1) Is there any Duplicate Record in this dataset ? If yes, then remove the duplicate records.
 * Task. 2) Is there any Null Value present in any column ?
* Q. 1) For 'House of Cards', what is the Show Id and Who is the Director of this show ?
* Q. 2) In which year the highest number of the TV Shows & Movies were released ? Show with Bar Graph.
* Q. 3) How many Movies & TV Shows are in the dataset ? Show with Bar Graph.
* Q. 4) Show all the Movies that were released in year 2000.
* Q. 5) Show only the Titles of all TV Shows that were released in India only.
* Q. 6) Show Top 10 Directors, who gave the highest number of TV Shows & Movies ?
* Q. 7) Show all the Records, where "Category is Movie and Type is Comedies" or "Country is United Kingdom".
* Q. 8) In how many movies/shows, Tom Cruise was cast ?
* Q. 9) What are the different Ratings?
* Q. 10.1) How many Movies got the 'TV-14' rating, in Canada ?
* Q. 10.2) How many TV Shows got the 'R' rating, after year 2018 ?
* Q. 11) Which individual country has the Highest No. of TV Shows ?
* Q. 12) Find latest 10 movies details(latest mean sort by year)?
* Q. 13) Find all the instances where: Category is 'Movie' and Type is 'Dramas' or Category is 'TV Show' & Type is 'Kids' TV'.

In [53]:
#IMPORTING THE LIBRARY
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [21]:
data.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

#### Task 1 : Drop Duplicates

In [17]:
data = pd.DataFrame(df)
data

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
...,...,...,...,...,...,...,...,...,...,...,...,...
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8803,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [25]:
df_no_duplicates = df.drop_duplicates()
print(df_no_duplicates)

     show_id     type                  title         director  \
0         s1    Movie   Dick Johnson Is Dead  Kirsten Johnson
1         s2  TV Show          Blood & Water              NaN
2         s3  TV Show              Ganglands  Julien Leclercq
3         s4  TV Show  Jailbirds New Orleans              NaN
4         s5  TV Show           Kota Factory              NaN
...      ...      ...                    ...              ...
8802   s8803    Movie                 Zodiac    David Fincher
8803   s8804  TV Show            Zombie Dumb              NaN
8804   s8805    Movie             Zombieland  Ruben Fleischer
8805   s8806    Movie                   Zoom     Peter Hewitt
8806   s8807    Movie                 Zubaan      Mozez Singh

                                                   cast        country  \
0                                                   NaN  United States
1     Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...   South Africa
2     Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...            NaN
3                                                   NaN            NaN
4     Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...          India
...                                                 ...            ...
8802  Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...  United States
8803                                                NaN            NaN
8804  Jesse Eisenberg, Woody Harrelson, Emma Stone, ...  United States
8805  Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...  United States
8806  Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...          India

              date_added  release_year rating   duration  \
0     September 25, 2021          2020  PG-13     90 min
1     September 24, 2021          2021  TV-MA  2 Seasons
2     September 24, 2021          2021  TV-MA   1 Season
3     September 24, 2021          2021  TV-MA   1 Season
4     September 24, 2021          2021  TV-MA  2 Seasons
...                  ...           ...    ...        ...
8802   November 20, 2019          2007      R    158 min
8803        July 1, 2019          2018  TV-Y7  2 Seasons
8804    November 1, 2019          2009      R     88 min
8805    January 11, 2020          2006     PG     88 min
8806       March 2, 2019          2015  TV-14    111 min

                                              listed_in  \
0                                         Documentaries
1       International TV Shows, TV Dramas, TV Mysteries
2     Crime TV Shows, International TV Shows, TV Act...
3                                Docuseries, Reality TV
4     International TV Shows, Romantic TV Shows, TV ...
...                                                 ...
8802                     Cult Movies, Dramas, Thrillers
8803             Kids' TV, Korean TV Shows, TV Comedies
8804                            Comedies, Horror Movies
8805                 Children & Family Movies, Comedies
8806     Dramas, International Movies, Music & Musicals

                                            description
0     As her father nears the end of his life, filmm...
1     After crossing paths at a party, a Cape Town t...
2     To protect his family from a powerful drug lor...
3     Feuds, flirtations and toilet talk go down amo...
4     In a city of coaching centers known to train I...
...                                                 ...
8802  A political cartoonist, a crime reporter and a...
8803  While living alone in a spooky town, a young g...
8804  Looking to survive in a world taken over by zo...
8805  Dragged from civilian life, a former superhero...
8806  A scrappy but poor boy worms his way into a ty...

[8807 rows x 12 columns]

#### Task 2 : Handle NaN values.

In [31]:
df = pd.DataFrame(data)
print(df.isnull())

      show_id   type  title  director   cast  country  date_added  \
0       False  False  False     False   True    False       False
1       False  False  False      True  False    False       False
2       False  False  False     False  False     True       False
3       False  False  False      True   True     True       False
4       False  False  False      True  False    False       False
...       ...    ...    ...       ...    ...      ...         ...
8802    False  False  False     False  False    False       False
8803    False  False  False      True   True     True       False
8804    False  False  False     False  False    False       False
8805    False  False  False     False  False    False       False
8806    False  False  False     False  False    False       False

      release_year  rating  duration  listed_in  description
0            False   False     False      False        False
1            False   False     False      False        False
2            False   False     False      False        False
3            False   False     False      False        False
4            False   False     False      False        False
...            ...     ...       ...        ...          ...
8802         False   False     False      False        False
8803         False   False     False      False        False
8804         False   False     False      False        False
8805         False   False     False      False        False
8806         False   False     False      False        False

[8807 rows x 12 columns]

In [33]:
df_dropna = df.dropna()
print(df_dropna)

     show_id     type                          title             director  \
7         s8    Movie                        Sankofa         Haile Gerima
8         s9  TV Show  The Great British Baking Show      Andy Devonshire
9        s10    Movie                   The Starling       Theodore Melfi
12       s13    Movie                   Je Suis Karl  Christian Schwochow
24       s25    Movie                          Jeans           S. Shankar
...      ...      ...                            ...                  ...
8801   s8802    Movie                        Zinzana      Majid Al Ansari
8802   s8803    Movie                         Zodiac        David Fincher
8804   s8805    Movie                     Zombieland      Ruben Fleischer
8805   s8806    Movie                           Zoom         Peter Hewitt
8806   s8807    Movie                         Zubaan          Mozez Singh

                                                   cast  \
7     Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...
8     Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...
9     Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...
12    Luna Wedler, Jannis Niewöhner, Milan Peschel, ...
24    Prashanth, Aishwarya Rai Bachchan, Sri Lakshmi...
...                                                 ...
8801  Ali Suliman, Saleh Bakri, Yasa, Ali Al-Jabri, ...
8802  Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...
8804  Jesse Eisenberg, Woody Harrelson, Emma Stone, ...
8805  Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...
8806  Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...

                                                country          date_added  \
7     United States, Ghana, Burkina Faso, United Kin...  September 24, 2021
8                                        United Kingdom  September 24, 2021
9                                         United States  September 24, 2021
12                              Germany, Czech Republic  September 23, 2021
24                                                India  September 21, 2021
...                                                 ...                 ...
8801                       United Arab Emirates, Jordan       March 9, 2016
8802                                      United States   November 20, 2019
8804                                      United States    November 1, 2019
8805                                      United States    January 11, 2020
8806                                              India       March 2, 2019

      release_year rating   duration  \
7             1993  TV-MA    125 min
8             2021  TV-14  9 Seasons
9             2021  PG-13    104 min
12            2021  TV-MA    127 min
24            1998  TV-14    166 min
...            ...    ...        ...
8801          2015  TV-MA     96 min
8802          2007      R    158 min
8804          2009      R     88 min
8805          2006     PG     88 min
8806          2015  TV-14    111 min

                                             listed_in  \
7     Dramas, Independent Movies, International Movies
8                         British TV Shows, Reality TV
9                                     Comedies, Dramas
12                        Dramas, International Movies
24     Comedies, International Movies, Romantic Movies
...                                                ...
8801           Dramas, International Movies, Thrillers
8802                    Cult Movies, Dramas, Thrillers
8804                           Comedies, Horror Movies
8805                Children & Family Movies, Comedies
8806    Dramas, International Movies, Music & Musicals

                                            description
7     On a photo shoot in Ghana, an American model s...
8     A talented batch of amateur bakers face off in...
9     A woman adjusting to life after a loss contend...
12    After most of her family is murdered in a terr...
24    When the father of the man she loves insists t...
...                                                 ...
8801  Recovering alcoholic Talal wakes up inside a s...
8802  A political cartoonist, a crime reporter and a...
8804  Looking to survive in a world taken over by zo...
8805  Dragged from civilian life, a former superhero...
8806  A scrappy but poor boy worms his way into a ty...

[5332 rows x 12 columns]

**1) Is there any Duplicate Record in this dataset ? If yes, then remove the duplicate records.**

In [35]:
df = pd.DataFrame(data)

df

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
...,...,...,...,...,...,...,...,...,...,...,...,...
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8803,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [37]:
# Finding duplicates
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
8802    False
8803    False
8804    False
8805    False
8806    False
Length: 8807, dtype: bool

In [39]:
df_no_duplicates = df.drop_duplicates()
print(df_no_duplicates)

     show_id     type                  title         director  \
0         s1    Movie   Dick Johnson Is Dead  Kirsten Johnson
1         s2  TV Show          Blood & Water              NaN
2         s3  TV Show              Ganglands  Julien Leclercq
3         s4  TV Show  Jailbirds New Orleans              NaN
4         s5  TV Show           Kota Factory              NaN
...      ...      ...                    ...              ...
8802   s8803    Movie                 Zodiac    David Fincher
8803   s8804  TV Show            Zombie Dumb              NaN
8804   s8805    Movie             Zombieland  Ruben Fleischer
8805   s8806    Movie                   Zoom     Peter Hewitt
8806   s8807    Movie                 Zubaan      Mozez Singh

                                                   cast        country  \
0                                                   NaN  United States
1     Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...   South Africa
2     Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...            NaN
3                                                   NaN            NaN
4     Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...          India
...                                                 ...            ...
8802  Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...  United States
8803                                                NaN            NaN
8804  Jesse Eisenberg, Woody Harrelson, Emma Stone, ...  United States
8805  Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...  United States
8806  Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...          India

              date_added  release_year rating   duration  \
0     September 25, 2021          2020  PG-13     90 min
1     September 24, 2021          2021  TV-MA  2 Seasons
2     September 24, 2021          2021  TV-MA   1 Season
3     September 24, 2021          2021  TV-MA   1 Season
4     September 24, 2021          2021  TV-MA  2 Seasons
...                  ...           ...    ...        ...
8802   November 20, 2019          2007      R    158 min
8803        July 1, 2019          2018  TV-Y7  2 Seasons
8804    November 1, 2019          2009      R     88 min
8805    January 11, 2020          2006     PG     88 min
8806       March 2, 2019          2015  TV-14    111 min

                                              listed_in  \
0                                         Documentaries
1       International TV Shows, TV Dramas, TV Mysteries
2     Crime TV Shows, International TV Shows, TV Act...
3                                Docuseries, Reality TV
4     International TV Shows, Romantic TV Shows, TV ...
...                                                 ...
8802                     Cult Movies, Dramas, Thrillers
8803             Kids' TV, Korean TV Shows, TV Comedies
8804                            Comedies, Horror Movies
8805                 Children & Family Movies, Comedies
8806     Dramas, International Movies, Music & Musicals

                                            description
0     As her father nears the end of his life, filmm...
1     After crossing paths at a party, a Cape Town t...
2     To protect his family from a powerful drug lor...
3     Feuds, flirtations and toilet talk go down amo...
4     In a city of coaching centers known to train I...
...                                                 ...
8802  A political cartoonist, a crime reporter and a...
8803  While living alone in a spooky town, a young g...
8804  Looking to survive in a world taken over by zo...
8805  Dragged from civilian life, a former superhero...
8806  A scrappy but poor boy worms his way into a ty...

[8807 rows x 12 columns]

**Task. 2) Is there any Null Value present in any column ?**

In [41]:
null_counts = df.isnull().sum()
print(null_counts)

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

**Q. 1) For 'House of Cards', what is the Show Id and Who is the Director of this show ?**

In [49]:
movie_name = "House of Cards"
filtered_movie = df[df['title'] == movie_name]
filtered_movie
result = filtered_movie[['show_id', 'director']]
print(result)

     show_id director
1059   s1060      NaN

**2) In which year the highest number of the TV Shows & Movies were released ? Show with Bar Graph.**

In [56]:
data.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

**3) How many Movies & TV Shows are in the dataset ? Show with Bar Graph.**

**Q. 4) Show all the Movies that were released in year 2000**

In [60]:
filtered_movie = df[df['release_year'] == 2000]
result = filtered_movie[['type', 'title']]
print(result)

         type                                              title
180     Movie                 The Nutty Professor II: The Klumps
350     Movie                                      Space Cowboys
359     Movie                       The Original Kings of Comedy
566     Movie                                   Charlie's Angels
593     Movie                                           Snow Day
779     Movie                                  Battlefield Earth
952     Movie                               The Whole Nine Yards
2173  TV Show                                             Moesha
3472    Movie                        Rugrats in Paris: The Movie
4545    Movie             Monty Python: Before the Flying Circus
4723    Movie                                               Fiza
4956    Movie                        Phir Bhi Dil Hai Hindustani
5098  TV Show                             Pokémon: Indigo League
5245  TV Show                                 Star Trek: Voyager
5953    Movie                             Joseph: King of Dreams
6006    Movie                                            28 Days
6147    Movie                                    American Psycho
6154    Movie  An American Tail: The Treasures of Manhattan I...
6311    Movie                                       Billy Elliot
6437    Movie                                       Center Stage
6440    Movie                                     Chal Mere Bhai
6543    Movie                     Crouching Tiger, Hidden Dragon
6643    Movie                       Dragonheart: A New Beginning
6753    Movie                                  Final Destination
6912    Movie                          Hamara Dil Aapke Paas Hai
7013    Movie                     How the Grinch Stole Christmas
7247    Movie                                          Kya Kehna
7316    Movie                                       Little Nicky
7702    Movie                                     Papa the Great
7766  TV Show                    Power Rangers Lightspeed Rescue
7801    Movie                                              Pukar
7955    Movie                                        Scary Movie
7962    Movie                                           Scream 3
8196    Movie                                     The Art of War
8305    Movie                 The Flintstones in Viva Rock Vegas
8722    Movie                                  What Lies Beneath
8729    Movie                                 Where the Money Is

**Q. 5) Show only the Titles of all TV Shows that were released in India only.**

In [73]:
filtered_movie = df[df['country'] == 'India']
result = filtered_movie[['type', 'title']]
print(result)

         type                          title
4     TV Show                   Kota Factory
24      Movie                          Jeans
39    TV Show                   Chhota Bheem
50    TV Show                  Dharmakshetra
66    TV Show  Raja Rasoi Aur Anya Kahaniyan
...       ...                            ...
8773    Movie            Yanda Kartavya Aahe
8775  TV Show                Yeh Meri Family
8798    Movie                       Zed Plus
8799    Movie                          Zenda
8806    Movie                         Zubaan

[972 rows x 2 columns]

**Q. 6) Show Top 10 Directors, who gave the highest number of TV Shows & Movies?**

**Q. 7) Show all the Records, where "Category is Movie and Type is Comedies" or "Country is United Kingdom".**

In [81]:
f_m1 = df[df['country'] == 'United Kingdom']
f_m2 = f_m1[f_m1['type'] == 'Movie']
result = f_m2[['type', 'title']]
print(result)

       type                                title
233   Movie                          Count Me In
292   Movie                              Quartet
304   Movie  Lady Boss: The Jackie Collins Story
402   Movie      The Last Letter From Your Lover
589   Movie                             Red Joan
...     ...                                  ...
8732  Movie                        White Chamber
8733  Movie                         White Island
8737  Movie           Why Are We Getting So Fat?
8744  Movie                             Williams
8786  Movie                         You Can Tutu

[206 rows x 2 columns]

**Q. 8) In how many movies/shows, Tom Cruise was cast ?**

Hint : https://pandas.pydata.org/docs/reference/api/pandas.Series.str.contains.html

In [93]:
f = df[df['cast'] == 'Tom Cruise']
f.size

0

**Q. 9) What are the different Ratings?(i.e unique ratings)**

Hint : https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.nunique.html

In [99]:
df.nunique(str('rating'))

ValueError: No axis named rating for object type DataFrame

**10.1) How many Movies got the 'TV-14' rating, in Canada ?**

In [119]:
m = df[df['country'] == 'Canada']
n = m[m['rating'] == 'TV-14']
p = n[n['type'] == 'Movies']
p

Empty DataFrame
Columns: [show_id, type, title, director, cast, country, date_added, release_year, rating, duration, listed_in, description]
Index: []

**10.2) How many TV Shows got the 'TV-MA' rating, after year 2018 ?**

In [125]:
m = df[df['release_year'] == 2018]
n = m[m['rating'] == 'TV-MA']
p = n[n['type'] == 'TV Shows']
p

Empty DataFrame
Columns: [show_id, type, title, director, cast, country, date_added, release_year, rating, duration, listed_in, description]
Index: []

11) Which individual country has the Highest No. of TV Shows ?

**12) Find latest 10 movies details(latest means sort by year)?**

**13) Find all the instances where: Category is 'Movie' and Type is 'Dramas' or Category is 'TV Show' & Type is 'Kids' TV'**